# Class 31 - `List` Basics Examples  
**COMP130 - Introduction to Computing**  
**Dickinson College**

### Python's `List` Object

A `List` is a comma delimited *sequence* of values (elements, items).

In [57]:
table=['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Sheffield United']
print(table)

['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Sheffield United']

In [76]:
points=[34, 26, 26, 25, 17]
print(points)

[34, 26, 26, 25, 17]

The elements of a `List` are often all of the same type, but they can be any type.

In [78]:
mixed = ['Liverpool', 34, 'Leicester City', 26, 'Chelsea', 26, 'Manchester City', 25, 'Sheffield United', 17]
print(mixed)

['Liverpool', 34, 'Leicester City', 26, 'Chelsea', 26, 'Manchester City', 25, 'Sheffield United', 17]

A `List` can even have other lists as elements. These are called *nested* lists.

In [59]:
matches=[['Manchester United', 'Brighton'], ['West Ham', 'Tottenham'], ['Arsenal', 'South Hampton']]
print(matches)

[['Manchester United', 'Brighton'], ['West Ham', 'Tottenham'], ['Arsenal', 'South Hampton']]

### Accessing `List` Elements

Elements in a `List` are accessed using `[ ]` in the same way characters in a `String` are accessed.

In [60]:
table=['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Sheffield United']
print(table[0])
print(table[3])

['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Sheffield United']
Liverpool
Manchester City

A `List` can be *sliced* in the same way a `String` can be sliced.

In [61]:
table=['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Sheffield United']
print(table[1:4])
print(table[:1])
print(table[2:])

['Leicester City', 'Chelsea', 'Manchester City']
['Liverpool']
['Chelsea', 'Manchester City', 'Sheffield United']

### Accessing Elements in a Nested `List`

Elements in nested lists are accessed in a similar way.

In [66]:
matches=[['Manchester United', 'Brighton'], ['West Ham', 'Tottenham'], ['Arsenal', 'South Hampton']]

m1 = matches[1]
print(m1)

print(m1[0])
print(m1[1])

[['Manchester United', 'Brighton'], ['West Ham', 'Tottenham'], ['Arsenal', 'South Hampton']]
['West Ham', 'Tottenham']
West Ham
Tottenham

In [67]:
print(matches[1][0])
print(matches[1][1])

West Ham
Tottenham

### Traversing Lists

We can traverse a `List` in a number of different ways.

In [96]:
table=['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Sheffield United']

We can traverse it using a `while` loop:

In [83]:
def print_table(table):
    index = 0
    while index < len(table):
        print(str(index + 1) + '. ' + table[index])
        index = index + 1

In [97]:
print_table(table)

1. Liverpool
2. Leicester City
3. Chelsea
4. Manchester City
5. Sheffield United

We can traverse it using a `for in` loop like we used to traverse the characters in a `String`:

In [89]:
def print_table(table):
    index = 0
    for team in table:
        print(str(index + 1) + '. ' + table[index])
        index = index + 1

In [91]:
print_table(table)

1. Liverpool
2. Leicester City
3. Chelsea
4. Manchester City
5. Sheffield United

And there is one more way that we haven't used before... by using the loop variable of a `for in range` loop.   Each time through the loop, the variable `index` takes on the next value in the range 0 up to but not including `len(table)`.  That is the first time the loop body executes, `index` is 0, the next time, `index` is 1 and so on until all of the values in the range have been used.

It is worth noting that this is simply a shortcut to doing what was done in the two examples just above.

In [94]:
def print_table(table):
    for index in range(len(table)):
        print(str(index + 1) + '. ' + table[index])

In [95]:
print_table(table)

1. Liverpool
2. Leicester City
3. Chelsea
4. Manchester City
5. Sheffield United

### `List`s are *Mutable*

A `List` is *mutable*. This means that unlike the characters in a `String` which cannot be changed (immutable), the elements of a `List` can be changed.

A value in a `List` can be *replaced*:

In [74]:
table=['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Sheffield United']

print(table)
table[4] = 'Arsenal'
print(table)

['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Sheffield United']
['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Arsenal']

What happened when we tried that with a `String`?

### `List` Object Methods - Appending to a `List`

A `List` is an object. Thus, methods in the `List` class can be used to modify the list.

For example, the `append` method attaches a new element to the end of the `List`.  There are many other `List` methods that can be used to modify the list.  The exercises will give you practice with some of them.

In [75]:
print(table)
table.append('Wolves')
print(table)

['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Arsenal']
['Liverpool', 'Leicester City', 'Chelsea', 'Manchester City', 'Arsenal', 'Wolves']

There are lots of other methods in the `List` class. There is a link to the documentation for the `List` methods on the course home page. You'll work with some of them in the exercises.